// видео с хостинга

.thumb-wrap {
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 - горизонтальное видео (если 4:3 вертикальное видео — ставим 75%) */
  height: 0;
  overflow: hidden;
  &>iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
  }
}

// видео по ссылке

.thumb-wrap {
  &>video {
    width: 100%;
    height: auto;
    max-height: 100%;
  }
}